/* 
  FLEX LAYOUT
*/

.flex-container {
  display: flex;
}

.flex-container--col {
  flex-direction: column;
}

.flex-container--header {
  flex: 1;
}

.flex-container--row {
  flex-direction: row;
}

.flex-item {
  flex-grow: 1;
}

.stack .flex-container {
  flex-wrap: wrap;
  .tool {
    flex-basis: 25%;
  }
}


@media screen and (min-width: 768px) {
  .stack .flex-container {
    flex-wrap: wrap;
    .tool {
      flex: 1;
    }
  }
}
