$BLACK_1: rgb(22, 28, 43); // dark
$BLACK_2: rgb(15, 19, 30); // darker
$BLACK_3: rgb(19, 12, 20); // darkest
$DARK_BLUE: rgb(87, 162, 211);
$LIGHT_BLUE: rgb(119, 176, 202);
$ORANGE: rgb(225, 77, 44);
$WHITE: rgb(255, 255, 255);
$YELLOW: rgb(246, 222, 59);

/* 
  BRAND COLORS
*/
$FACEBOOK: #3B5998;
$HTML5: #E34F26;
$JAVASCRIPT: #F7DF1E;
$REACT: #00d8FF;
$NODE_DARK: #215732;
$NODE_LIGHT: #44883E;
$CSS: #198FD2;
$WEBPACK: #1D78C1;

